.menu {
	display: flex;
	align-items: center;
	gap: 40px;
	flex-grow: 1;
	position: relative;

	@include vp-1023 {
		gap: 20px;
		flex-grow: unset;
	}

	&__link {
		@include vp-1023 {
			display: none;
		}
	}

	&__genre-link {
		display: none;
		transition: color $transition-300;

		&:hover,
		&:focus-visible {
			color: $color-bg-brand-active;
			outline: none;
		}

		@include vp-1023 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__btn {
		display: none;
		border: none;
		background-color: transparent;
		padding: 0;
		color: $color-white;
		cursor: pointer;
		transition: color $transition-300;

		&:hover,
		&:focus-visible {
			color: $color-bg-brand-active;
			outline: none;
		}

		@include vp-1023 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
