.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	opacity: 0;
	transform: scale(0.95);
	transition: opacity $transition-300, transform $transition-300;
	pointer-events: none;

	&--active {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}

	&__wrap {
		padding: 0 72px;
		position: relative;
		display: flex;
		justify-content: center;

		@include vp-1023 {
			width: 100%;
			padding: 0 20px;
		}
	}

	&__logo-icon {
		width: 180px;
		height: 24px;
		margin: 0 auto 40px;

		@include vp-1023 {
			margin-bottom: 32px;
		}
	}

	&__close-btn {
		background-color: $color-white;
		border-radius: 50%;
		color: $color-black;
		padding: 12px;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;

		@include vp-1023 {
			top: 8px;
			right: 28px;
		}
	}
}
