.link {
	font-size: 24px;
	line-height: 32px;
	position: relative;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	color: $color-white;
	cursor: pointer;
	user-select: none;
	border-bottom: 1.5px solid transparent;
	transition: border $transition-300, color $transition-300;

	&:hover,
	&:focus-visible {
		border-bottom: 1.5px solid #dc5dfc;
		outline: none;
	}

	&--icon {
		border-bottom: none;

		&:hover,
		&:focus-visible {
			border-bottom: none;
		}
	}

	&--active {
		border-bottom: 1.5px solid #dc5dfc;
		pointer-events: none;
	}
}
