.auth-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 420px;
	background-color: $color-white;
	padding: 64px 40px;
	border-radius: 24px;
	color: $color-black;

	@include vp-1023 {
		width: 100%;
		padding: 64px 20px 32px;
		position: relative;
	}

	&__logo-icon {
		width: 180px;
		height: 24px;
		margin: 0 auto 40px;
		display: block;

		@include vp-1023 {
			margin-bottom: 32px;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}

	&__description {
		margin: 0;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 24px;
		margin: 0 0 24px;
	}

	&__inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}

	&__btn {
		border: none;
		background-color: transparent;
		cursor: pointer;
		margin: 0;
		padding: 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		transition: color $transition-300;

		&:hover, &:focus-visible {
			outline:none;
			color: $color-bg-brand-active;
		}
	}
}
