.auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
	align-items: stretch;

	&__text {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
	}

	&__wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}

	&__btn {
		border: none;
		background-color: transparent;
		cursor: pointer;
		margin: 0;
		padding: 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
	}
}
