.favorites {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	gap: 64px 40px;
	$root: &;

	@include vp-767 {
		display: flex;
		flex-wrap: nowrap;
		overflow: auto;
		margin: -80px -20px;
		padding: 80px 20px;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__del-wrap {
		position: relative;
		border: 1px solid transparent;
		border-radius: 16px;
		transition: border-color $transition-300;

		&:hover,
		&:focus-visible {
			outline: none;
			border-color: $color-white;
			#{$root}__del-btn {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__del-btn {
		border: none;
		background-color: $color-white;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px;
		color: $color-black;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition-300;

		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);

		svg {
			transition: color $transition-300;
		}

		&:hover,
		&:focus-visible {
			outline: none;
			svg {
				color: $color-bg-brand-active;
			}
		}
	}
}
