.heading {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px 16px;
	$root: &;

	@include vp-1023 {
		margin-bottom: 12px;
	}

	&--search {
		flex-wrap: wrap;
		gap: 6px 12px;

		#{$root}__rating {
			padding: 2px 8px;
		}

		#{$root}__rating-icon {
			width: 10px;
			height: 10px;
		}

		#{$root}__ratingText {
			font-size: 12px;
			line-height: 16px;
		}

		#{$root}__info {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__rating {
		background-color: $color-red;
		display: flex;
		align-items: center;
		gap: 4px;
		color: $color-white;
		border-radius: 16px;
		padding: 4px 12px;

		&--gold {
			background-color: $color-gold;
		}

		&--green {
			background-color: $color-green;
		}

		&--silver {
			background-color: $color-silver;
		}
	}

	&__ratingText {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
	}

	&__info {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: rgba($color-white, 0.7);
		max-width: 350px;

		@include vp-1023 {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
